<style>
    .container {width:100%;margin: auto;}
    @media (min-width: 600px) {.container {width: 80%;}}
    @media (min-width: 768px) {.container {width: 60%;}}
    @media (min-width: 1024px) {.container {width: 50%;}}
</style>


<html>
<div class= "container">
    <h1>Welcome to Generative AI. My name is Pei Jie, may I know your name?</h1>
    <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=2080x10000:format=jpg/path/s2217cd0bb1220415/image/i97fe02c4f7d30c86/version/1688683802/chinese-dragon.jpg"
        width="320" height="240">
    <form action="/main" method="post">
        <p><input type="text" name="q"></p>
        <p><input type="submit" value="Enter"></p>
        
    </form>
</div>
</html>
